/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #F1C3BB; /* must change */
    color: #000; /* may be #000 or #fff */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    background: #ADA5CF;
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete or change */
}

/* --- ADD YOUR STYLES BELOW --- */

header {
  background: #6B0068;
  color: #fff;
}

footer {
  background: #6B0068;
  color: #fff;
}

aside {
  background: #F1C3BB;
}

figure {
  background: #4C438E;
  color: #fff;
}

/* --- add your PSEUDO CLASSES below this line --- */

a:link {
  color: #83e1d8;
}

a:visited {
  color: #31cdbd;
}

a:focus {
  color: #c7f2ed;
}

a:hover {
  color: #9ee8e0;
}

a:active {
  color: #c7f2ed;
}
